* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #EFFEE2C2; 
     
}
.input{
    margin-left: 35%;   
    
}
.btn{
    background: #33691E;
    margin-left: 50%;
    width: 100px;
    height: 50px;
 }

/* .terms{
    margin: auto;
} */