@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Work+Sans:wght@200;300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #EFFEE2C2; 
}
button {
    cursor: pointer;
}
.message {
    display: none;
}
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.alert {
    width: 50%;
    height: 70px;
    background-color: #33691E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: -10px;
    left: 100px; */
    padding: 0 10px;
    border-radius: 3px;
}
.register {
    width: 100%
}
/* .wrapper{
    position: relative;
    width: 100%;
} */
/* .circleleft{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 120px;
    left: -60px;

}
.circleright{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    bottom: 120px;
    right: -60%;
    
} */
/* .navbar-brand{
    margin-left: auto;
} */
.nav-brands{
    color: #33691E;
}
  .btn{
    background: #33691E;
    margin-left: 45%;
    width: 100px;
    height: 50px;
 }
 .link{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 0;
     margin-top: 15px;
 }
 .link a{
     color: #33691E;
 }
 .input{
     margin-left: 35%;    
     width: 400px;
 }
 .footer {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }
 .terms{
     margin-left: 0;
 }
 .rights, .terms {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }

 @media screen and (min-width: 320px) and (max-width: 450px){
     .input {
        margin-left: 10%;
        width: 80%;
     }
     .link {
        margin-left: 1%;
     }
     .btn {
        margin-left: 30%; 
        margin-top: 15px;
        margin-bottom: 15px;
     }
 }