*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}

.w-full {
  width: 100%;
}
.ere-container {
  width: 100%;
  position: relative;
}
.ere-nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
}
.ere-nav .logo {
  width: 20%;
}
.ere-nav .logo a {
  display: flex;
  flex-direction: row;
}
.ere-nav .logo a div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ere-nav .logo a div img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.ere-nav .logo a div > span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #070d01;
  margin-left: 10px;
}
.ere-nav .logo a div span:first-child {
  color: #3ca813;
}
.ere-nav ul {
  width: 60%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ere-nav ul li a {
  display: block;
  padding: 10px 30px;
  color: #070d01;
}
.ere-nav ul li a.active {
  color: #3ca813;
}
.ere-nav .nav-icon {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ere-nav .nav-icon a {
  display: block;
}
.ere-nav .nav-icon a:first-child {
  margin-right: 40px;
}
.ere-jumbo-slide {
  width: 100%;
  background-color: #51a431;
  padding: 145px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ere-jumbo-slide p {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  text-align: center;
}
.ere-jumbo-slide div button {
  border: none;
  background-color: #fff;
  padding: 12px 50px;
  width: 298px;
  height: 80px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #3ca813;
  cursor: pointer;
}

.ere-jumbo-slide div button:hover {
  border: none;
  background-color: #e5f8de;
}

.ere-seasonal-produce {
  width: 100%;
  padding: 0 50px;
}
.ere-seasonal-produce h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #070d01;
}
.ere-seasonal-card-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
  padding: 20px;
}
.ere-seasonal-cards {
  width: 350px;
}
.ere-seasonal-cards div:first-child {
  width: 350px;
  height: 276px;
}
.ere-seasonal-cards div:first-child img {
  width: 350px;
  height: 276px;
  object-fit: cover;
}
.ere-seasonal-cards div:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ere-seasonal-cards div:nth-child(2) button {
  display: inline-block;
  width: 164px;
  background: none;
  border: 1px solid #51a431;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #51a431;
  padding: 20px;
  cursor: pointer;
}
.ere-seasonal-cards div:nth-child(2) button:hover {
  background: #51a431;
  color: white;
}
.ere-tab {
  padding: 30px 20px;
}
.ere-tab button {
  display: inline-block;
  background: none;
  border: none;
  font-style: normal;
  font-size: 16px;
  color: black;
  padding: 10px 30px;
  cursor: pointer;
}
.ere-tab button.active {
  background: #51a431;
  color: white;
}
.ere-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
  padding: 20px;
}
.ere-product {
  width: 150px;
  position: relative;
}
.ere-product > div:first-child {
  width: 150px;
  height: 150px;
}
.ere-product > div:first-child img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.ere-product > div:last-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 20px;
}
.ere-product > div:last-child button {
  background: #bbf9a3;
  border: none;
  position: absolute;
  top: -20px;
  padding: 12px;
}
.ere-product > div:last-child p {
  font-size: 12px;
  margin: 8px 0;
}
footer {
  background-color: #3ca813;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 32px 25px;
  justify-content: space-between;
}
footer h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
}
footer p {
  color: #ffffff;
  margin: 0;
}
footer > div {
  width: 20%;
}
footer > div:first-child .footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer > div:first-child .footer-logo img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
footer > div:first-child .footer-logo p {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 8px;
}
footer > div:first-child > p:first-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: 5px 0 10px 0px;
}
footer > div:first-child > p:last-of-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: 5px 0 10px 0px;
}
footer > div:first-child input {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}
footer > div:nth-child(2) ul {
  padding: 8px 0 0 15px;
}
footer > div:nth-child(2) ul li {
  color: white;
}
footer > div:nth-child(2) ul li a {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  letter-spacing: 0.04em;
}
footer > div:nth-child(3) > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
footer > div:nth-child(3) > div:first-of-type img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 10px;
}
footer > div:nth-child(3) p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
footer > div:nth-child(3) p:first-of-type {
  margin-bottom: 8px;
}
footer > div:nth-child(4) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
}
footer > div:nth-child(4) > div img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 10px;
}
